{% extends "base.html" %}
{% load staticfiles %}

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Cameras Management | NCC Autofaces</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- NCC Icon CSS
  ============================================ -->
  <link rel="stylesheet" href="css/nalika-icon.css">




</head>

<body>
  <!--[if lt IE 8]>
  <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  {% block content %}

  {# All header #}
  <div class="header-advance-area">
    {# Main Header #}
    {% include "main-header.html" %}
    {# End of Main Header #}
    <!-- Mobile Menu start -->
    {% include "mobile-menu.html" %}
    <!-- Mobile Menu end -->
    {# Page Header #}
    <div class="breadcome-area">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="breadcome-list">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                  <div class="breadcomb-wp">
                    <div class="breadcomb-icon">
                      <i class="icon nalika-home"></i>
                    </div>
                    <div class="breadcomb-ctn">
                      <h2>Camera List</h2>
                      <p>Welcome to NCC <span class="bread-ntd">Admin Template</span></p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                  <div class="breadcomb-report">
                    <button data-toggle="tooltip" data-placement="left" title="Download Report" class="btn"><i class="icon nalika-download"></i></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {# Page Header #}
  </div>
  {# End of all header #}
  <div>
    <div class="col-lg-6 col-md-7 col-sm-6 col-xs-12">
      <div class="header-top-menu tabl-d-n">
        <div class="breadcome-heading">
          <form role="search" class="">
            <input type="text" placeholder="Search..." class="form-control">
            <a href=""><i class="fa fa-search"></i></a>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="product-status mg-b-30">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="product-status-wrap">
            <h4>Cameras List</h4>
            <div class="add-product">
              <a href="camera-create.html">Add Camera</a>
            </div>
            <table>
              <tr>
                <th>No</th>
                <th>Camera Title</th>
                <th>Area</th>
                <th>Organization</th>
                <th>IP Camera</th>
                <th>Status</th>
                <th>Setting</th>
              </tr>
              <tr>
                <td>No 1</td>
                <td>Camera Title 1</td>
                <td>Area#</td>
                <td>NCC</td>
                <td>0.0.0.0:8888</td>
                <td>
                  <button class="pd-setting">Active</button>
                </td>
                <td>
                  <button data-toggle="tooltip" title="View" class="pd-setting-ed"><a href="camera-crud.html"><i class="fa fa-eye" aria-hidden="true"></i></a></button>
                  <button data-toggle="tooltip" title="Edit" class="pd-setting-ed"><a href="camera-crud.html"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></button>
                  <button data-toggle="tooltip" title="Trash" class="pd-setting-ed"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                </td>
              </tr>
              <tr>
                <td>No #</td>
                <td>Camera Title 2</td>
                <td>Area#</td>
                <td>NCC</td>
                <td>0.0.0.0:8888</td>
                <td>
                  <button class="ps-setting">Paused</button>
                </td>
                <td>
                  <button data-toggle="tooltip" title="View" class="pd-setting-ed"><i class="fa fa-eye" aria-hidden="true"></i></button>
                  <button data-toggle="tooltip" title="Edit" class="pd-setting-ed"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                  <button data-toggle="tooltip" title="Trash" class="pd-setting-ed"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                </td>
              </tr>
              <tr>
                <td>No #</td>
                <td>Camera Title 3</td>
                <td>Area#</td>
                <td>NCC</td>
                <td>0.0.0.0:8888</td>
                <td>
                  <button class="ds-setting">Disabled</button>
                </td>
                <td>
                  <button data-toggle="tooltip" title="View" class="pd-setting-ed"><i class="fa fa-eye" aria-hidden="true"></i></button>
                  <button data-toggle="tooltip" title="Edit" class="pd-setting-ed"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                  <button data-toggle="tooltip" title="Trash" class="pd-setting-ed"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                </td>
              </tr>
              <tr>
                <td>No #</td>
                <td>Camera Title 4</td>
                <td>Area#</td>
                <td>NCC</td>
                <td>0.0.0.0:8888</td>
                <td>
                  <button class="pd-setting">Active</button>
                </td>
                <td>
                  <button data-toggle="tooltip" title="View" class="pd-setting-ed"><i class="fa fa-eye" aria-hidden="true"></i></button>
                  <button data-toggle="tooltip" title="Edit" class="pd-setting-ed"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                  <button data-toggle="tooltip" title="Trash" class="pd-setting-ed"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                </td>
              </tr>
              <tr>
                <td>No #</td>
                <td>Camera Title 5</td>
                <td>Area#</td>
                <td>NCC</td>
                <td>0.0.0.0:8888</td>
                <td>
                  <button class="pd-setting">Active</button>
                </td>
                <td>
                  <button data-toggle="tooltip" title="View" class="pd-setting-ed"><i class="fa fa-eye" aria-hidden="true"></i></button>
                  <button data-toggle="tooltip" title="Edit" class="pd-setting-ed"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                  <button data-toggle="tooltip" title="Trash" class="pd-setting-ed"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                </td>
              </tr>
              <tr>
                <td>No #</td>
                <td>Camera Title 6</td>
                <td>Area#</td>
                <td>NCC</td>
                <td>0.0.0.0:8888</td>
                <td>
                  <button class="ps-setting">Paused</button>
                </td>
                <td>
                  <button data-toggle="tooltip" title="View" class="pd-setting-ed"><i class="fa fa-eye" aria-hidden="true"></i></button>
                  <button data-toggle="tooltip" title="Edit" class="pd-setting-ed"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                  <button data-toggle="tooltip" title="Trash" class="pd-setting-ed"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                </td>
              </tr>
            </table>
            <div class="custom-pagination">
              <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include "footer-copyright.html" %}


  {% endblock %}
