
<!-- Mobile Menu start -->
<div class="mobile-menu-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="mobile-menu">
                    <nav id="dropdown">
                        <ul class="mobile-menu-nav">
                            <li><a data-toggle="collapse" data-target="#Charts" href="#">Users <span class="admin-project-icon nalika-icon nalika-down-arrow"></span></a>
                                <ul class="collapse dropdown-header-top">
                                    <li><a href="#">User List</a></li>
                                </ul>
                            </li>
                            <li><a data-toggle="collapse" data-target="#Charts" href="#">System <span class="admin-project-icon nalika-icon nalika-down-arrow"></span></a>
                                <ul class="collapse dropdown-header-top">
                                    <li><a href="#">Camera</a></li>
                                    <li><a href="#">Organization</a></li>
                                </ul>
                            </li>
                            <li><a data-toggle="collapse" data-target="#Charts" href="#">Report <span class="admin-project-icon nalika-icon nalika-down-arrow"></span></a>
                                <ul class="collapse dropdown-header-top">
                                    <li><a href="management_report">Time Keeping</a></li>
                                    <li><a href="#">Emotional Detection</a></li>
                                    <li><a href="#">Group of Title</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Mobile Menu end -->
