{% extends "base.html" %}
{% load staticfiles %}

{% block page-head %}


    {# Page style #}
    <style media="screen">
      .table [data-sort] {
          cursor: pointer;
      }
      /* This is for the sort up and down icon */
      .table [data-sort]::after {
          margin-left: .25rem;
          content: url('data:image/svg+xml;utf8,<svg width=\'6\' height=\'10\' viewBox=\'0 0 6 10\' fill=\'none\' xmlns=\'http://www.w3.org/2000/svg\'><path fill-rule=\'evenodd\' clip-rule=\'evenodd\' d=\'M3 0L6 4H0L3 0ZM3 10L0 6H6L3 10Z\' fill=\'%238898aa\'/></svg>');
      }
    </style>
    {# End of Page style #}
{% endblock %}


{% block content %}

        {# All Header #}

        <div class="header-advance-area">

            {# Main Header #}
            {% include "main-header.html" %}
            {# End of Main Header #}
            {# Mobile Menu #}
            {% include 'mobile-menu.html' %}
            {# End of Mobile Menu #}

            {# Page Header #}
            <div class="breadcome-area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="breadcome-list">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        <div class="breadcomb-wp">
                                            <div class="breadcomb-icon">
                                              <i class="icon nalika-home"></i>
                                            </div>
                                            <div class="breadcomb-ctn">
                                              <h2>Report</h2>
                                              <p>Welcome to NCC <span class="bread-ntd">Admin Template</span></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        <div class="breadcomb-report">
                                            <button data-toggle="tooltip" data-placement="left" title="Download Report" class="btn btn-custon-rounded-three btn-warning" id="exportbtn"><i class="icon nalika-download"></i>Export CSV</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {# End of Page Header #}
            {# End of All Header #}

        </div>

        <div class="product-status mg-b-30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="product-status-wrap" id="table">
                          <div class="row">
                              <div class="col-lg-5">
                                <h4>Report</h4>
                              </div>
                              <div class="breadcome-heading col-lg-7">
                                <form role="search" class="" method="get">
                                    <input name="search_keyword" type="text" placeholder="Search..." class="search form-control pull-right" style="color:white">
                                    <!-- <a href="" class=""><i class="fa fa-search"></i></a> -->
                                </form>
                              </div>
                          </div>




                            <table class='table'>
                              <thead>
                                <tr>
                                  <th scope="col" class="sort" data-sort="id">ID</th>
                                  <th scope="col" class="sort" data-sort="image_link">Image</th>
                                  <th scope="col" class="sort" data-sort="name">Name</th>
                                  <th scope="col" class="sort" data-sort="age">Age</th>
                                  <th scope="col" class="sort" data-sort="emo">Emo</th>
                                  <th scope="col" class="sort" data-sort="checkin">Last Checkin</th>
                                  <th scope="col" class="sort" data-sort="checkout">Last Checkout</th>
                                  <th scope="col" class="sort" data-sort="prob">Prob</th>
                                </tr>
                              </thead>
                              <tbody class="list">
                                {% for data in page_obj %}
                                <tr>
                                  <td scope="row" class="id">{{ data.id }}</td>
                                    <td class="image_link"><img src={% static data.image_link %} alt={{ data.image_link }}></td>
                                    <td class="name">{{ data.name }}</td>
                                    <td class="age">{{ data.age }}</td>
                                    <td class="emo">
                                      <img src={% static data.emo %} alt={{ data.emo }}>
                                    </td>
                                    <td class="checkin">{{ data.last_checkin }}</td>
                                    <td class="checkout">{{ data.last_checkout }}</td>
                                    <td class="prob">
                                      {{ data.prob }}
                                    </td>
                                  </tr>
                                  {% endfor %}
                                </tbody>
                              </table>
                            <div class="custom-pagination">
                <ul class="pagination">
                  <!-- <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" href="#">Next</a></li> -->
                  <!-- <span class="step-links">
                          {% if page_obj.has_previous %}
                              <a href="?page=1">&laquo; first</a>
                              <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                          {% endif %}

                          <span class="current" style="color:white">
                              Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                          </span>

                          {% if page_obj.has_next %}
                              <a href="?page={{ page_obj.next_page_number }}">next</a>
                              <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                          {% endif %}
                    </span> -->
                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include "footer-copyright.html" %}


    {# Page script #}

    <!-- DataTable Jquery - List.JS Plugin -->
    <script src={% static "js/jquery.min.js" %}></script>
    <script src={% static "js/list.min.js" %}></script>
    <script type="text/javascript">
      /* here you use your_column_names */
      var options = {
        valueNames: [ 'id', "image_link", "name", "age", "emo", "checkin", "checkout", "prob" ],
        page: 20,
        pagination: true,
      };
      /*table = id of the div */
      var userList = new List('table', options);
    </script>

    <!-- Export table to CSV script -->
    <script src={% static "js/tabletoCSV/jquery.tabletoCSV.js" %} charset="utf-8"></script>
    <script type="text/javascript">
      $(function(){
        $("#exportbtn").click(function(){
          $(".table").tableToCSV();
        });
      });

    </script>

    {# End of Page script #}
{% endblock %}
