<h3>Camera Update</h3>
<a href={% url 'camera_list' %}>Camera List</a>
<br>
<a href={% url "camera_crud" id=camera_id opt="view" %}>Camera View</a>
<div class="info">
  <h4>Status:</h4>
  <ul>
    <li>0 : ACTIVE</li>
    <li>1 : PAUSED</li>
    <li>2 : DISABLED</li>
  </ul>
</div>
<br>
<br>
<br>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
    {% endfor %}
</ul>
{% endif %}
<div class="form">
  <form class="form" action="" method="post">
    {% csrf_token %}
    <table>
      <tr>
        <th>{{ form.area.label_tag }}</th>
        <th>{{ form.camera_title.label_tag }}</th>
        <th>{{ form.status.label_tag }}</th>
        <th>{{ form.IP_camera.label_tag }}</th>
        <th>{{ form.organization_name.label_tag }}</th>
      </tr>
      <tr>
        <td>{{ form.area }}</td>
        <td>{{ form.camera_title }}</td>
        <td>{{ form.status }}</td>
        <td>{{ form.IP_camera }}</td>
        <td>{{ form.organization_name }}</td>
      </tr>
    </table>

    <input type="submit" name="" value="Submit">
  </form>
</div>
