<h3>Camera Update</h3>
<a href={% url 'camera_list' %}>Camera List</a>
<div class="info">
  <h4>Status:</h4>
  <ul>
    <li>0 : ACTIVE</li>
    <li>1 : PAUSED</li>
    <li>2 : DISABLED</li>
  </ul>
</div>
<br>
<br>
<br>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
    {% endfor %}
</ul>
{% endif %}
<div class="form">
  <form class="form" action="" method="post">
    {% csrf_token %}
    {{ form.as_ul }}
    <input type="submit" name="" value="Submit">
  </form>
</div>
