<h3>Organization Create</h3>
<a href={% url 'organization_list' %}>Organization List</a>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
    {% endfor %}
</ul>
{% endif %}
<br>
<br>
<div class="form">
  <form class="form" action={% url 'organization_create' %} method="post">
    {% csrf_token %}
    <table>
      <tr>
        <th>{{ form.initial.pk.label_tag }}</th>
        <th>{{ form.organization_name.label_tag }}</th>
        <th>{{ form.admin.label_tag }}</th>
        <th>{{ form.location.label_tag }}</th>
        <th>{{ form.tel.label_tag }}</th>
      </tr>
      <tr>
        <td>{{ form.initial.pk }}</td>
        <td>{{ form.organization_name }}</td>
        <td>{{ form.admin }}</td>
        <td>{{ form.location }}</td>
        <td>{{ form.tel }}</td>
      </tr>
    </table>
        <button type="Submit" name="submit-btn" value="submit">Save</button>

  </form>
</div>
