{% extends "base.html" %}
{% load staticfiles %}

{% block page-head %}
{# Page style #}
<title>Timekeeping Report | NCC Autofaces</title>
<style media="screen">
.table [data-sort] {
  cursor: pointer;
}
/* This is for the sort up and down icon */
.table [data-sort]::after {
  margin-left: .25rem;
  content: url('data:image/svg+xml;utf8,<svg width=\'6\' height=\'10\' viewBox=\'0 0 6 10\' fill=\'none\' xmlns=\'http://www.w3.org/2000/svg\'><path fill-rule=\'evenodd\' clip-rule=\'evenodd\' d=\'M3 0L6 4H0L3 0ZM3 10L0 6H6L3 10Z\' fill=\'%238898aa\'/></svg>');
}
</style>
{# End of Page style #}
{% endblock %}
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->


{% block content %}
{# All header #}
<div class="header-advance-area">
  {# Main Header #}
  {% include "main-header.html" %}
  {# End of Main Header #}
  <!-- Mobile Menu start -->
  {% include "mobile-menu.html" %}
  <!-- Mobile Menu end -->
  <div class="breadcome-area">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="breadcome-list">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="breadcomb-wp">
                  <div class="breadcomb-icon">
                    <i class="icon nalika-home"></i>
                  </div>
                  <div class="breadcomb-ctn">
                    <h2>Group of Title</h2>
                    <p>Welcome to NCC <span class="bread-ntd">Admin</span></p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="breadcomb-report">
                  <button data-toggle="tooltip" data-placement="left" title="Download Report" class="btn btn-custon-rounded-three btn-warning" id="exportbtn"><i class="icon nalika-download"></i>Export CSV</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {# End of Page Header #}
</div>
  {# End of all header #}
<div class="product-status mg-b-30">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="product-status-wrap" id="table">
          <div class="row">
            <div class="col-lg-4">
              <h4>Group Of Title</h4>
            </div>
            <div class="col-lg-4">

            </div>
            <div class="">
              <div class="add-product">
                <a href="#">Add Records</a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="breadcome-heading col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <form role="search" class="" method="get">
                <input name="search_keyword" type="text" placeholder="Search..." class="search form-control pull-right" style="color:white">
                <!-- <a href="" class=""><i class="fa fa-search"></i></a> -->
              </form>
            </div>
          </div>
          <table class='table'>
            <thead>
              <tr>
                <th scope="col" class="sort" data-sort="id">No</th>
                <th scope="col" class="sort" data-sort="name">Name</th>
                <th scope="col" class="sort" data-sort="position">Position</th>
                <th scope="col" class="sort" data-sort="title">Title</th>
                <th scope="col" class="sort" data-sort="checkin">Checkin</th>
                <th scope="col" class="sort" data-sort="checkin_time">Time</th>
                <th scope="col" class="sort" data-sort="checkout">Checkout</th>
                <th scope="col" class="sort" data-sort="checkout_time">Time</th>
              </tr>
            </thead>
            <tbody class="list">
              {% for data in page_obj %}
              <tr>
                <td scope="row" class="id">{{ data.id }}</td>
                <td class="name">{{ data.name }}</td>
                <td class="position">{{ data.position }}</td>
                <td class="title">{{ data.title }}</td>
                <td class="checkin">
                  {% if data.checkin %}
                    <button type="button" class="btn btn-custon-four btn-success"><i class="fa fa-check adminpro-checked-pro" aria-hidden="true"></i> Yes</button>
                  {% else %}
                    <button type="button" class="btn btn-custon-rounded-four btn-danger"><i class="fa fa-times adminpro-danger-error" aria-hidden="true"></i> No</button>
                  {% endif %}
                </td>
                <td class="checkin_time">{{ data.checkin_time }}</td>
                <td class="checkout">
                  {% if data.checkout %}
                    <button type="button" class="btn btn-custon-four btn-success"><i class="fa fa-check adminpro-checked-pro" aria-hidden="true"></i> Yes</button>
                  {% else %}
                    <button type="button" class="btn btn-custon-rounded-four btn-danger"><i class="fa fa-times adminpro-danger-error" aria-hidden="true"></i> No</button>
                  {% endif %}
                </td>
              <td class="checkout_time">{{ data.checkout_time }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <div class="custom-pagination">
          <ul class="pagination">
            {# <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li> #}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

{# </div> end of all-content-wrapper div #}
{# Page script #}

<!-- DataTable Jquery - List.JS Plugin -->
<script src={% static "js/jquery.min.js" %}></script>
<script src={% static "js/list.min.js" %}></script>
<script type="text/javascript">
/* here you use your_column_names */
var options = {
  valueNames: [ 'id', "camera_title", "area", "organization_name", "IP_camera", "status"],
  page: 20,
  pagination: true,
};
/*table = id of the div */
var userList = new List('table', options);
</script>

<!-- Export table to CSV script -->
<script src={% static "js/tabletoCSV/jquery.tabletoCSV.js" %} charset="utf-8"></script>
<script type="text/javascript">
$(function(){
$("#exportbtn").click(function(){
$(".table").tableToCSV();
});
});

</script>
{# End of Page script #}
{% endblock %}
