{% extends "base.html" %}
{% load staticfiles %}




{% block page-head %}

<title>Create Organization | Nalika - Material Admin Template</title>


<!-- include libraries(jQuery, bootstrap) -->

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<!-- include summernote css/js -->
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote-bs4.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote-bs4.min.js"></script>

<!-- dropzone CSS
============================================ -->
<link rel="stylesheet" href={% static "css/dropzone/dropzone.css" %}>

{% endblock %}

{% block content %}

{# All header #}
<div class="header-advance-area">

  <!-- Mobile Menu start -->
  {% include "mobile-menu.html" %}
  <!-- Mobile Menu end -->
  <div class="breadcome-area">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="breadcome-list">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="breadcomb-wp">
                  <div class="breadcomb-icon">
                    <i class="icon nalika-home"></i>
                  </div>
                  <div class="breadcomb-ctn">
                    <h2>Create Organization</h2>
                    <p>Welcome to Nalika <span class="bread-ntd">Admin Template</span></p>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {# End of Page Header #}
</div>
{# End of all header #}

<!-- Single pro tab start-->
<div class="single-product-tab-area mg-b-30">
  <!-- Single pro tab review Start-->
  <div class="single-pro-review-area">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="review-tab-pro-inner">
            <ul id="myTab3" class="tab-review-design">
              <li class="active"><a href="#description"><i class="icon nalika-edit" aria-hidden="true"></i> Create Organization Form</a></li>
              <li><a href="#reviews1"><i class="icon nalika-picture" aria-hidden="true"></i> Album</a></li>
              <li><a href="#upload-photo"><i class="icon nalika-picture" aria-hidden="true"></i> Upload Photo</a></li>
            </ul>
            <div id="myTabContent" class="tab-content custom-product-edit">
              <div class="product-tab-list tab-pane fade active in" id="description">
                {# Start Form Block #}
                <div class="form">
                  <form class="form" action={% url 'organization_create' %} method="post">
                    {% csrf_token %}
                <div class="row">
                  <div class="col-lg-3 col-md-3 col-sm-3 "></div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="review-content-section">
                      <div class="input-group mg-b-pro-edt">
                        <span class="input-group-addon"><i class="icon nalika-user" aria-hidden="true"></i></span>
                        {{ form.admin }}
                      </div>
                      <div class="input-group mg-b-pro-edt">
                        <span class="input-group-addon"><i class="icon nalika-team" aria-hidden="true"></i></span>
                        {{ form.organization_name }}
                      </div>
                      <div class="input-group mg-b-pro-edt">
                        <span class="input-group-addon"><i class="fa fa-building-o" aria-hidden="true"></i></span>
                        {{ form.location }}
                      </div>
                      <div class="input-group mg-b-pro-edt">
                        <span class="input-group-addon"><i class="icon nalika-smartphone-call" aria-hidden="true"></i></span>
                        {{ form.tel }}
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 "></div>
                </div>
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="text-center custom-pro-edt-ds">
                      <button type="Submit" class="btn btn-ctl-bt waves-effect waves-light m-r-10" value="submit">Save
                      </button>
                      <a href={% url "organization_list" %}>
                        <button type="button" class="btn btn-ctl-bt waves-effect waves-light">Discard
                        </button>
                      </a>
                    </div>
                  </div>
                </div>
              </form>
            </div>
                {# End Form Block #}
              </div>
              <div class="product-tab-list tab-pane fade" id="reviews1">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="review-content-section">
                      <div class="row">
                        <div class="col-lg-4">
                          <div class="pro-edt-img">
                            <img src={% static "img/new-product/5-small.jpg" %} alt="" />
                          </div>
                        </div>
                        <div class="col-lg-8">
                          <div class="row">
                            <div class="col-lg-12">
                              <div class="product-edt-pix-wrap">
                                <div class="input-group">
                                  <span class="input-group-addon">TT</span>
                                  <input type="text" class="form-control" placeholder="Label Name">
                                </div>
                                <div class="row">
                                  <div class="col-lg-6">
                                    <div class="form-radio">
                                      <form>
                                        <div class="radio radiofill">
                                          <label>
                                            <input type="radio" name="radio"><i class="helper"></i>Largest Image
                                          </label>
                                        </div>
                                        <div class="radio radiofill">
                                          <label>
                                            <input type="radio" name="radio"><i class="helper"></i>Medium Image
                                          </label>
                                        </div>
                                        <div class="radio radiofill">
                                          <label>
                                            <input type="radio" name="radio"><i class="helper"></i>Small Image
                                          </label>
                                        </div>
                                      </form>
                                    </div>
                                  </div>
                                  <div class="col-lg-6">
                                    <div class="product-edt-remove">
                                      <button type="button" class="btn btn-ctl-bt waves-effect waves-light">Remove
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                      </button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-4">
                          <div class="pro-edt-img">
                            <img src={% static "img/new-product/6-small.jpg" %} alt="" />
                          </div>
                        </div>
                        <div class="col-lg-8">
                          <div class="row">
                            <div class="col-lg-12">
                              <div class="product-edt-pix-wrap">
                                <div class="input-group">
                                  <span class="input-group-addon">TT</span>
                                  <input type="text" class="form-control" placeholder="Label Name">
                                </div>
                                <div class="row">
                                  <div class="col-lg-6">
                                    <div class="form-radio">
                                      <form>
                                        <div class="radio radiofill">
                                          <label>
                                            <input type="radio" name="radio"><i class="helper"></i>Largest Image
                                          </label>
                                        </div>
                                        <div class="radio radiofill">
                                          <label>
                                            <input type="radio" name="radio"><i class="helper"></i>Medium Image
                                          </label>
                                        </div>
                                        <div class="radio radiofill">
                                          <label>
                                            <input type="radio" name="radio"><i class="helper"></i>Small Image
                                          </label>
                                        </div>
                                      </form>
                                    </div>
                                  </div>
                                  <div class="col-lg-6">
                                    <div class="product-edt-remove">
                                      <button type="button" class="btn btn-ctl-bt waves-effect waves-light">Remove
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                      </button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-4">
                          <div class="pro-edt-img mg-b-0">
                            <img src={% static "img/new-product/7-small.jpg" %} alt="" />
                          </div>
                        </div>
                        <div class="col-lg-8">
                          <div class="row">
                            <div class="col-lg-12">
                              <div class="product-edt-pix-wrap">
                                <div class="input-group">
                                  <span class="input-group-addon">TT</span>
                                  <input type="text" class="form-control" placeholder="Label Name">
                                </div>
                                <div class="row">
                                  <div class="col-lg-6">
                                    <div class="form-radio">
                                      <form>
                                        <div class="radio radiofill">
                                          <label>
                                            <input type="radio" name="radio"><i class="helper"></i>Largest Image
                                          </label>
                                        </div>
                                        <div class="radio radiofill">
                                          <label>
                                            <input type="radio" name="radio"><i class="helper"></i>Medium Image
                                          </label>
                                        </div>
                                        <div class="radio radiofill">
                                          <label>
                                            <input type="radio" name="radio"><i class="helper"></i>Small Image
                                          </label>
                                        </div>
                                      </form>
                                    </div>
                                  </div>
                                  <div class="col-lg-6">
                                    <div class="product-edt-remove">
                                      <button type="button" class="btn btn-ctl-bt waves-effect waves-light">Remove
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                      </button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="product-tab-list tab-pane fade" id="upload-photo">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="dropzone-pro">
                      <div id="dropzone">
                        <form action="/upload" class="dropzone dropzone-custom needsclick" id="demo-upload">
                          <div class="dz-message needsclick download-custom">
                            <i class="fa fa-cloud-download" aria-hidden="true"></i>
                            <h2>Drop files here or click to upload.</h2>
                            <p><span class="note needsclick">(This is just a demo dropzone. Selected files are <strong>not</strong> actually uploaded.)</span>
                            </p>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
</div>



<!-- dropzone JS
============================================ -->
<script src={% static "js/dropzone/dropzone.js" %}></script>

{% endblock %}
