<h3>Organization Update</h3>
<a href={% url 'organization_list' %}>Organization List</a>
<br>
<br>
<a href={% url "organization_crud" id=org_id opt="view" %}>Organization View</a>
<br>
<br>
<br>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
    {% endfor %}
</ul>
{% endif %}
<div class="form">
  <form class="form" action="" method="post">
    {% csrf_token %}
    {{ form.as_ul }}
    <input type="submit" name="" value="Submit">
  </form>
</div>
