<h3>Organization {{ organization.id }}</h3>
<a href={% url 'organization_list' %}>Organization List</a>
<br>
<a href={% url "organization_crud" id=organization.id opt="update" %}>Organization Update</a>
<br>
<br>
<br>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
    {% endfor %}
</ul>
{% endif %}
<table>
  <tr>
    <th>Organization Name</th>
    <th>Admin</th>
    <th>Location</th>
    <th>Tel</th>
  </tr>
  <tr>
    <td>{{ organization.organization_name }}</td>
    <td>{{ organization.admin }}</td>
    <td>{{ organization.location }}</td>
    <td>{{ organization.tel }}</td>
  </tr>
</table>
